name: CI
on:
  pull_request:
  schedule:
    - cron: '0 0 1 * *'


jobs:
  test:
    name: Test
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: Brightspace/third-party-actions@actions/checkout
      - name: Setup Node
        uses: Brightspace/third-party-actions@actions/setup-node
      - name: Install dependencies
        run: npm ci
      - name: Tests and Lint
        run: npm run test
